/* This is the container for the portfolio grid */
.portfolio-grid-container {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Styling specific to each portfolio item */
.portfolio-grid-container .portfolio-item {
  background-color: #669bbc;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  /* flex: 1 1 calc(33.333% - 40px); */
  min-height: 400px; /* Adjust this as needed */
  min-width: 400px;
}

/* Hover effect for each portfolio item */
.portfolio-grid-container .portfolio-item:hover {
  transform: translateY(-5px);
  background-color: #003049;
}

/* Styling for the images in each portfolio item */
.portfolio-grid-container .portfolio-item .portfolio-image {
  width: 100%;
  height: 425px; /* Fixed height, or adjust as needed */
  object-fit: cover;
}

/* The container for the text overlaying the portfolio item image */
.portfolio-grid-container .portfolio-item .portfolio-item-info {
  position: fixed;
  bottom: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-weight: 200;
  
}

/* Styling for the title within the portfolio item */
.portfolio-grid-container .portfolio-item .portfolio-item-info h3 {
  text-align: left;
  margin: 3px;
  font-weight: 400;
  color: white; /* Ensures text is visible on the overlay */
}

@media screen and (max-width: 768px) {
  .portfolio-grid-container {
    padding: 50px;
  }
  .portfolio-grid-container .portfolio-item {
    min-width: 300px;
    min-height: 350px;
  }
}

